@use "global" as *;

.doctor{
    background-image: url('../images/common/doctor-bg-sp.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% rem(430);
    text-align: center;
    margin-top: -120px;
    position: relative;
    padding-bottom: 100px;
    z-index: 2;
    @include mq(md) {
        background-image: url('../images/common/doctor-bg.png');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100% rem(718);
        text-align: center;
        margin-top: -11%;
        padding: rem(194) 0 16%;
        position: relative;
        z-index: 2;
    }
}

.doctor__inner{
    max-width: $max-width;
}

.doctor__images{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: -19.45%;
    gap: 0 rem(15);
    @include mq(md) {
        margin-top: -19.45%;
        gap: 0 rem(26);
    }
}

.doctor__images img {
    position: relative;
    z-index: 9999;
    width: rem(95);
    height: rem(95);
    @include mq(md) {
        width: rem(167);
        height: rem(167);
    }
}

.doctor__content{
    background-color: $brown;
    margin-top: rem(25);
    padding: rem(26.5) 0 rem(19);
    border-radius: rem(23);
    @include mq(md) {
        margin-top: rem(53);
        padding: rem(27) 0 rem(42);
    }
}

.doctor__box{
    display: flex;
    
    justify-content: center;
    gap: 0 rem(14);
}

.doctor__woman{
    width: rem(45);
    height: rem(45);
    @include mq(md) {
        width: rem(60);
        height: rem(60);
    }
}

.doctor__text{
    color: $white;
    font-size: rem(22);
    font-weight: $bold;
    line-height: 1;
    letter-spacing: 0.03em;
    @include mq(md) {
        margin-top: rem(13);
        font-size: rem(32);
        line-height: calc(60/32);
    }
}

.doctor__text span {
    font-size: rem(16);
    @include mq(md) {
        font-size: rem(20);
    }
}

.doctor__buttons{
    margin-top: rem(50.5);
}