@use "global" as *;

.doctor{
    background-image: url('../images/common/doctor-bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% rem(718);
    text-align: center;
    margin-top: -150px;
    padding: rem(194) 0 rem(245.25);
    position: relative;
    z-index: 2;
}

.fv__images{
    margin-top: -222px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    gap: 0 rem(26);

}

.fv__images img {
    position: relative;
    z-index: 9999;
    width: rem(167);
    height: rem(167);
}

.doctor__content{
    background-color: $brown;
    margin-top: rem(53);
    padding: rem(27) 0 rem(42);
    border-radius: rem(23);
}

.doctor__box{
    display: flex;
    
    justify-content: center;
    gap: 0 rem(14);
}

.doctor__woman{
    width: rem(60);
    height: rem(60);
}

.doctor__text{
    color: $white;
    margin-top: rem(13);
    font-size: rem(32);
    font-weight: $bold;
    line-height: calc(60/32);
    letter-spacing: 0.03em;
}

.doctor__text span {
    font-size: rem(20);
}

.doctor__buttons{
    margin-top: rem(63);
}