@use "global" as *;

.fag{
    background-color: #FBFAF6;
    padding: rem(50) 0 ;
    @include mq(md) {
        padding: rem(120) 0 rem(122);
    }
}

.faq__inner{
    max-width: $max-width;
}

.fag--second{
    background-color: #EDE8DC;
    padding: rem(50) 0 rem(43);
    @include mq(md) {
        padding: rem(120) 0 rem(110);
    }
}

.fag__accordion{
    margin-top: rem(50);
    @include mq(md) {
        margin-top: rem(83);
    }
}

.fag__accordion--second{
    margin-top: rem(50);
    @include mq(md) {
        margin-top: rem(79.5);
    }
}

.fag__buttons{
    text-align: center;
    margin-top: rem(66.5);
    @include mq(md) {
        margin-top: rem(116);
    }
}