@use "global" as *;

.footer{
    font-family: $second-family;
    background-color: #FBFAF6;
    text-align: center;
    font-size: rem(9);
    font-weight: $regular;
    padding:rem(11) 0 ;
    @include mq(md) {
        font-size: rem(12);
        padding:rem(25) 0 ;
    }
}