@use "global" as *;

.header {
    height: rem(43.5);
    background-color: $white;
    position: relative;
    z-index: 9999;
    display: flex;
    justify-content: center; /* 水平方向中央揃え */
    align-items: center; /* 垂直方向中央揃え */
    @include mq(md) {
        height: rem(87);
    }
}

.header__logo {
    width: rem(129.5);
    height: rem(21);
    margin: 0;
    @include mq(md) {
        width: rem(259);
        height: rem(42);
    }
}

.header__logo img {
    max-height: 100%; /* 親要素の高さに合わせる */
    display: block; /* 余計なスペースを防ぐためにblockを指定 */
}
