@use "global" as *;

.hospital{
    text-align: center;
    padding: rem(41.8) 0 rem(51.1);
    background-color: #FBFAF7;
    @include mq(md) {
        padding: rem(120) 0 rem(126);
    }
}

.hospital__inner.inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(5);
    @include mq(md) {
        max-width: rem(1200);
        padding: 0 rem(30);
    }
}

.hospital__content{
    border-radius: rem(20);
    background-color: $white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.hospital__content + .hospital__content{
    margin-top: rem(58.7);
    @include mq(md) {
        margin-top: rem(102);
    }
}

.hospital__wrapper{
    max-width: rem(900);
    margin: 0 auto;
    padding: rem(39.1) 0 rem(35.6);
    @include mq(md) {
        padding: rem(81) 0 rem(107);
    }

}

.hospital__title{
    background-color: $brown;
    color: $white;
    margin: 0 rem(11.5);
    padding: rem(19) 0 rem(18);
    font-size: rem(22);
    font-weight: $bold;
    line-height: 1;
    letter-spacing: 0.1em;
    border-radius: rem(6);
    @include mq(md) {
        padding: rem(40) 0;
        font-size: rem(38);
        margin: 0;
        border-radius: rem(12);
    }
}

.hospital__title--padding{
    padding: rem(15) 0 rem(23);
    @include mq(md) {
        padding: rem(30) 0 rem(50); 
    }
}

.dots {
    color: $white;
    text-emphasis: dot $white;
}

.hospital__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(22);
    padding: 0 rem(12);
    @include mq(md) {
        margin-top: rem(34);
        padding: 0;
    }
}

.hospital__item{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: calc(33.3333% - 1.59375rem * 2 / 3 );
    width: 100%;
    min-height: rem(96);
    background-color: #F1EDDD;
    border-radius: 50%;
    @include mq(md) {
        max-width: calc(33.3333% - 2.3125rem * 2 / 3 );
        min-height: rem(110);
        border-radius: rem(12);
    }
}

.hospital__item + .hospital__item{
    margin-left: rem(25.5);
    @include mq(md){
        margin-left: rem(37);
    }
}

.hospital__subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; // 追加
    font-size: rem(14);
    font-weight: $bold;
    line-height: 1.45;
    letter-spacing: 0.03em;
    @include mq(md) {
        font-size: rem(20);
        line-height: calc(34/20);
    }
}



.hospital__subtitle span {
    font-size: rem(9);
    margin-top: rem(5);
    @include mq(md) {
        font-size: rem(16);
        margin-top: rem(0);
    }
}

.hospital__box{
    margin-top: rem(23.5);
    padding: 0 rem(20);
    @include mq(md) {
        display: flex;
        align-items: flex-start;
        gap: 0 rem(45);
        margin-top: rem(77.9);
        padding: 0;
    }
}

.hospital__box--width{
    @include mq(md) {
        gap: 0 rem(25.5);
    }
}

.hospital__text{
    width: 100%;
    text-align: left;
    font-size: rem(14);
    font-weight: $medium;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    @include mq(md) {
        font-size: rem(16);
        line-height: calc(27/16);
        width: 66.33%;
    }
}

.hospital__text--width{
    width: 100%;
    @include mq(md) {
        width: 61.33%;
    }
}

.hospital__img{
    width: 55.7%;
    margin: rem(20) auto 0;
    @include mq(md) {
        width: 28.66%;
        margin: 0;
    }
}

.hospital__img img {
    aspect-ratio: 181/168;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 258/239;
    }
}

.hospital__img--width{
    width: 72.7%;
    margin: rem(20) auto 0;
    @include mq(md) {
        width: 35.88%;
        margin: 0;
    }
}


.hospital__img--width img {
    aspect-ratio: 236/144.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 323/185;
    }
}

.hospital__table {
    max-width: rem(339);
    margin: rem(35.6) auto 0;
    width: 100%;
    border-collapse: collapse;
    @include mq(md) {
        max-width: rem(624.5);
        margin: rem(77.5) auto 0;
    }
}

.hospital__table th{
    padding: rem(12.5) 0;
    text-align: center;
    font-size: rem(13);
    font-weight: $medium;
    line-height: 1;
    letter-spacing: 0.03em;
    @include mq(md) {
        font-size: rem(16);
        padding: rem(17) 0;
    }
}

.hospital__table td{
    padding: rem(12.5) 0;
    text-align: center;
    font-size: rem(13);
    font-weight: $medium;
    line-height: 1.4;
    letter-spacing: 0.03em;
    @include mq(md) {
        font-size: rem(16);
        padding: rem(8) 0 rem(4);
        line-height: 1;
    }
}

.hospital__table span {
    font-size: rem(10);
    line-height: calc(17/10);
    letter-spacing: 0.00em;
    margin-left: rem(26);
    @include mq(md) {
        font-size: rem(13);
        line-height: calc(23/13);
    }
}

.hospital__table th {
    background-color: #FFE8E8;
}

  /* 指定の列幅を適用 */
.hospital__table th:first-child,
.hospital__table td:first-child {
    width: 58.5px;
    @include mq(md) {
        width: 174px;
    }
}

.hospital__table td:nth-child(2) {
    width: 140.5px;
    background-color: #EDEDED; /* 金額が入っている通常価格のセルに背景色 */
    @include mq(md) {
        width: 225px;
    }
}

.hospital__table th:nth-child(2) {
    width: 140.5px;
    background-color: #FFE0E0; /* 金額が入っている通常価格のセルに背景色 */
    @include mq(md) {
        width: 225px;
    }
}

.hospital__table th:nth-child(3),
.hospital__table td:nth-child(3) {
    width: 140.5px;
    @include mq(md) {
        width: 225px;
    }
}

.hospital__table tbody td {
    background-color: #F6F6F6;
}
.hospital__table td {
    vertical-align: middle;
}

.hospital__buttons{
    margin-top: rem(51.2);
    @include mq(md) {
        margin-top: rem(113.2);
    }
}

.hospital__table tbody tr:nth-child(2) {
    border-top: 1px solid #C7C7C7;
}
