@use "global" as *;

.improvement{
    background-image: url('../images/common/improvement-bg-sp.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(58.65) 0 rem(142);
    position: relative;
    z-index: 1;
    @include mq(md) {
        background-image: url('../images/common/improvement-bg.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;    
        padding: rem(104) 0 rem(270);
    }
}

.improvement__inner{
    max-width: $max-width;
}





//リスト
.improvement__list{
    margin-top: rem(42);
    @include mq(md){
        margin-top: rem(138);
        display: flex;
        flex-wrap: wrap;
    }
}

.improvement__item{
    display: flex;
    flex-direction: column;
    position: relative;
    @include mq(md){
        max-width: calc(25% - 1.75rem * 3 / 4 );
        width: 100%;
    }
}

.improvement__item + .improvement__item{
    margin-top: rem(23.5);
    @include mq(md){
        margin-top: 0;
        margin-left: rem(28);
    }
}

/* 枚数が増えたときのための処理 */
.improvement__item:nth-child(4n + 1){
    @include mq(md){
        margin-left: 0;
    }
}

/* 枚数が増えたときのための処理 */
.improvement__item:nth-child(n + 5){
    @include mq(md){
        margin-top: 8.25rem;
    }
}


.improvement__content {
    display: flex;
    padding: rem(19.5) rem(30) rem(19.5) rem(22);
    background-color: $white;
    border-radius: rem(19);
    @include mq(md) {        
        flex-direction: column;
        flex-grow: 1;
        padding: rem(35) rem(39) rem(41);
    }
}

.improvement__sentence{
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    @include mq(md) {
        width: 100%;
    }
}

.improvement__subtitle{
    display: flex;
    align-items: center;
    gap: 0 rem(15);
    color: $brown;
    flex-grow: 1;
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(20/16);
    letter-spacing: 0.03em;
    @include mq(md) {
        text-align: center;
        justify-content: center;
        font-size: rem(20);
        line-height: 1.45;
    }
}

.improvement__img{
    width: 38%;
    @include mq(md) {
        width: rem(186);
        height: rem(186);
        object-fit: cover;
        margin: rem(33) auto 0;
    }
}

.improvement__img img {
    aspect-ratio: 100/100;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 186/186;
    }
}