@use "global" as *;

.reason-card{
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
    }
}

.reason-card__list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include mq(md){
        max-width: calc(33.3333% - 2.6875rem * 2 / 3 );
        width: 100%;
    }
}

.reason-card__list + .reason-card__list{
    margin-top: 2.5rem;
    @include mq(md){
        margin-top: 0;
        margin-left: rem(43);
    }
}

/* 枚数が増えたときのための処理 */
.reason-card__list:nth-child(3n + 1){
    @include mq(md){
        margin-left: 0;
    }
}

/* 枚数が増えたときのための処理 */
.reason-card__list:nth-child(n + 4){
    @include mq(md){
        margin-top: 2.5rem;
    }
}

.reason-card__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.reason-card__number{
    font-family: $force-family;
    color: $brown;
    font-size: rem(50);
    font-weight: $regular;
    line-height: calc(72/50);
}

.reason-card__img{
    width: 72%;
    margin: rem(10) auto 0;
    @include mq(md) {
        width: 100%;
        margin-top: rem(31);
    }
}

.reason-card__img img {
    aspect-ratio: 214.5/141 ;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 340/224 ;
    }
}

.reason-card__sentence {
    background-color: $brown;
    color: $white;
    min-height: rem(68);
    margin-top: rem(20.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; // 追加
    border-radius: rem(11.5);
    @include mq(md) {
        margin-top: rem(24);
        min-height: rem(134);
        border-radius: rem(23);
    }
}

.reason-card__subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; // 追加
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(25/16);
    letter-spacing: 0.03em;
    @include mq(md) {
        font-size: rem(20);
        line-height: calc(30/20);
        letter-spacing: 0.034em;
    }
}

.reason-card__text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    margin-top: rem(19.5);
    height: 100%;
    font-size: rem(14);
    font-weight: $medium;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    @include mq(md) {
        margin-top: rem(29.8);
        font-size: rem(16);
        line-height: calc(27/16);
    }
}