@use "global" as *;

.recommendation{
    background-image: url('../images/common/recommendation-bg.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: #EDE8DC;
    padding: rem(50) 0;
    position: relative;
    z-index: 2;
    @include mq(md) {
        padding: rem(106) 0;
    }
}

.recommendation__inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(30);
    @include mq(md) {
        max-width: rem(1040);
        padding: 0 ;
    }
}

.recommendation__subtitle{
    color: $white;
    font-size: rem(22);
    font-weight: $bold;
    line-height: 1;
    letter-spacing: 0.1em;
    @include mq(md) {
        font-size: rem(38);
    }
}


.recommendation__list{
    margin-top: rem(31.5);
    @include mq(md){
        display: flex;
        flex-wrap: wrap;
        margin-top: rem(78.5);
    }
}

.recommendation__item{
    @include mq(md){
        max-width: calc(50% - 7.90625rem * 1 / 2 );
        width: 100%;
    }
}

.recommendation__item + .recommendation__item{
    margin-top: rem(9);
    @include mq(md){
        margin-top: 0;
        margin-left: rem(126.5);
    }
}

/* 枚数が増えたときのための処理 */
.recommendation__item:nth-child(2n + 1){
    @include mq(md){
        margin-left: 0;
    }
}

/* 枚数が増えたときのための処理 */
.recommendation__item:nth-child(n + 3){
    @include mq(md){
        margin-top: 2.5rem;
    }
}