@use "global" as *;

.section-title{
    text-align: center;
}

.section-title__head{
    font-size: rem(15);
    font-weight: $bold;
    letter-spacing: 0.03em;
    @include mq(md) {
        font-size: rem(32);
    }
}

.section-title__jp{
    text-align: center;
    color: $brown;
    font-size: rem(18);
    font-weight: $bold;
    letter-spacing: 0.1em;
    @include mq(md) {
        font-size: rem(32);
    }
}

.section-title__jp--wprries{
    color: $black;
    font-size: rem(22);
    line-height: calc(32.5/22);
    letter-spacing: 0.1em;
    @include mq(md) {
        margin-top: rem(4);
        font-size: rem(38);
        line-height: calc(55/38);
    }
}

.section-title__jp--improvement{
    color: $black;
    font-size: rem(22);
    line-height: calc(32.5/22);
    letter-spacing: 0.03em;
    @include mq(md) {
        margin-top: rem(4);
        font-size: rem(38);
        line-height: calc(55/38);
    }
}

.section-title__jp--font{
    color: $black;
    font-size: rem(22);
    line-height: 1;
    letter-spacing: 0.03em;
    @include mq(md) {
        font-size: rem(38);
    }
}

.section-title__jp--flow{
    font-size: rem(15);
    @include mq(md) {
        font-size: rem(32);
    }
}

.marker {
    position: relative;
    font-size: rem(22);
    background: linear-gradient(transparent 60%, #ECE8DC 60%);
    display: inline-block;
    @include mq(md) {
        font-size: rem(38);
    }
}

.marker--font {
    background: none;
    font-size: rem(22);
    @include mq(md) {
        font-size: rem(38);
    }
}


.marker::before,
.marker::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 40%;
    background-color: #ECE8DC;
    width: 5px;
    @include mq(md) {
        width: 20px;
    }
}

.marker::before {
    left: -5px;
    @include mq(md) {
        left: -15px;
    }
}

.marker::after {
    right: -5px;
    @include mq(md) {
        right: -15px;
    }
}



.marker--darkBrown{
    background: linear-gradient(transparent 60%, #D4CBAD 60%);
    font-size: rem(22);
    @include mq(md) {
        font-size: rem(38);
    }
}

.marker--darkBrown::before,
.marker--darkBrown::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 40%;
    background-color: #D4CBAD;
    width: 5px;
    @include mq(md) {
        width: 20px;
    }
}

.marker--darkBrown::before {
    left: -5px;
    @include mq(md) {
        left: -20px;
    }
}

.marker--darkBrown::after {
    right: -5px;
    @include mq(md) {
        right: -20px;
    }
}
