@use "global" as *;


.spots{
    background-color: #FBFAF7;
    padding-bottom: rem(44.5);
    @include mq(md) {
        padding-bottom: rem(117.9);
    }
}

.spots__inner.inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(5);
    @include mq(md) {
        max-width: rem(1140);
        padding: 0 rem(30);
    }
}

/*input要素は非表示*/
input {
    display: none;
}

/*タブエリアの設定*/
.spots__container {
    display: flex;
    flex-wrap: wrap;
    
}

/*タブボタン部分の共通スタイル*/
label {
    display: block;
    padding: rem(17) 0 rem(8);
    border-radius: 10px 10px 0 0;
    float: left;
    cursor: pointer;
    order: -1;
    width: 121px; /* タブの幅を243pxに統一 */
    text-align: center; /* タブのテキストを中央に配置 */
    color: $brown;
    font-size: rem(15);
    font-weight: $bold;
    line-height: 1;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px -2px 3px rgba(0, 0, 0, 0);
    @include mq(md) {
        width: 243px; /* タブの幅を243pxに統一 */
        margin-right: 2px;
        font-size: rem(32);
    }
}



/* タブ1が選択されていない時の背景色 */
#tab1:not(:checked) + .btn_tab {
    background: #FFFFFF;
}

/* タブ1がマウスオーバーされたときの背景色 */
#tab1:not(:checked) + .btn_tab:hover {
    background-color: #F8F8F8;
}
  /* タブ2が選択されていない時の背景色 */
#tab2:not(:checked) + .btn_tab {
    background: #F4EFE6;
}

#tab2:not(:checked) + .btn_tab:hover {
    background-color: #E5E0D6;
}

  /* タブ3が選択されていない時の背景色 */
#tab3:not(:checked) + .btn_tab {
    background: #EDE8DC;
}

#tab3:not(:checked) + .btn_tab:hover {
    background-color: #D9D5CB;
}

/*タブを選択したとき*/
input:checked + .btn_tab {
    background: #E7CCE6;
}

input:checked + .btn_tab + .spots__content {
    display: block;
}

/*コンテンツをフェイドインするアニメーション*/
input:checked + .btn_tab + .spots__content .aaa {
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

  /* タブ1が選択されたときのスタイル */
#tab1:checked + .btn_tab {
    background: #fff; /* タブボタンの背景色 */
}
#tab1:checked + .btn_tab + .spots__content {
    background: #FFFFFF; /* コンテンツの背景色 */
}



  /* タブ2が選択されたときのスタイル */
#tab2:checked + .btn_tab {
    background: #F4EFE6; /* タブボタンの背景色 */
}
#tab2:checked + .btn_tab + .spots__content {
    background: #F4EFE6; /* コンテンツの背景色 */
}

  /* タブ3が選択されたときのスタイル */
#tab3:checked + .btn_tab {
    background: #EDE8DC; /* タブボタンの背景色 */
}
#tab3:checked + .btn_tab + .spots__content {
    background: #EDE8DC; /* コンテンツの背景色 */
}


/*コンテンツ部分*/
.spots__content {
    padding: rem(36.5) 0 rem(57.5);
    border-radius: 0 10px 10px 10px;
    display: none;
    width: 100%;
    background: #E7CCE6;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px -2px 3px rgba(0, 0, 0, 0);
    @include mq(md) {
        padding: rem(95.5) 0 rem(88.6);
    }
}

.spots__wrapper{
    max-width: rem(900);
    margin: 0 auto;
}

.spots__buttons{
    text-align: center;
    margin-top: rem(62);
    @include mq(md) {
        margin-top: rem(120);
    }
}