@use "global" as *;

.worries{
    background-color: #EDE8DC;
    padding-bottom: rem(49.7);
    z-index: 10;
    @include mq(md) {
        margin-top: rem(-10);
        padding-bottom: rem(122);
    }
}

.worries__inner.inner{
    max-width: $max-width;
    margin: auto;
    padding: 0 rem(30);
    @include mq(md) {
        max-width: rem(1200);
        padding: 0 rem(30);
    }
}



//リスト
.worries__list{
    margin-top: rem(49.35);
    @include mq(md){
        margin-top: rem(84.2);
        display: flex;
        flex-wrap: wrap;
    }
}

.worries__item{
    display: flex;
    flex-direction: column;
    position: relative;
    @include mq(md){
        max-width: calc(33.3333% - 2.8125rem * 2 / 3 );
        width: 100%;
    }
}

.worries__item + .worries__item{
    margin-top: rem(21.5);
    @include mq(md){
        margin-top: 0;
        margin-left: rem(45);
    }
}

.worries__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: rem(18.9) rem(25) rem(14.1) rem(17);
    background-color: $white;
    border-radius: rem(9.5);
    @include mq(md) {
        padding: rem(53) rem(40) rem(42.2);
        border-radius: rem(19);
    }
}

.worries__subtitle{
    text-align: center;
    color: $brown;
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1;
    letter-spacing: 0.03em;
    @include mq(md) {
        font-size: rem(20);
    }
}

.worries__wrapper{
    display: flex;
    gap: 0 rem(10);
    @include mq(md) {
        flex-direction: column;
        flex-grow: 1;
    }

}

.worries__sentence{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    margin-top: rem(24.9);
    width: 63.41%;
    @include mq(md) {
        width: 100%;
        margin-top: rem(29);
    }
}

.worries__text{
    flex-grow: 1;
    font-size: rem(13);
    font-weight: $medium;
    line-height: calc(22/13);
    letter-spacing: 0.03em;
    @include mq(md) {
        font-size: rem(16);
        line-height: calc(27/16);
    }
}

.worries__img{
    width: 38.4%;
    margin-top: rem(30);
    @include mq(md) {
        width: 186px;
        height: 186px;
        object-fit: cover;
        margin: rem(30) auto 0;        
    }
}

.worries__img img {
    aspect-ratio: 100/100;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include mq(md) {
        aspect-ratio: 186/186;
    }
}